*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.main .number{
    font-size: 50px;
    font-weight: 700;
}

.btn{
    padding: 5px 10px;
    background-color: aqua;
    color: black;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.input-area{
    display: flex;
    gap: 10px;
    font-size: 20px;
}